manifest {
    mainScript = 'raw_read_qc.nf'
}

profiles {
        planet {
        executor = 'sge'
        docker.enabled = false

        process {
            $trimming_pe {
                clusterOptions = '-S /bin/bash -l h_vmem=1G'
                time = '24h'
                penv = 'smp'
                cpus = '10'
                module = 'atropos'
                        }
            $fastqc     {
            clusterOptions = '-S /bin/bash -l h_vmem=1G'
            cpus = '10'
            penv = 'smp'
            time = '24h'
            module 'fastqc'
                      }
            $multiqc  {
              clusterOptions = '-S /bin/bash -l h_vmem=1G'
              cpus = '10'
              penv = 'smp'
              time = '24h'
              module 'multiqc'
                      }
                }
          }
}
